@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #1677FF
    ),
    "success": (
      "base": #00b42a
    ),
    "warning": (
      "base": #ff7d00
    ),
    "danger": (
      "base": #ff4d4f
    ),
    "error": (
      "base": #ff4d4f,
    ),
    "info": (
      "base": #909399,
    ),
  ),
  $text-color: (
    "regular": #42464e,
  ),
  $fill-color: (
    "light": #f6f8fa,
  ),
  $dialog: (
    "border-radius": 4px,
  ),
  $border-radius: (
    "base": 2px,
  ),
  $tag: (
    "border-radius": 2px,
  ),
  $table: (
    "header-text-color": var(text-color-regular),
    "row-hover-bg-color": var(--el-fill-color-light),
    "header-bg-color": var(--el-fill-color-light),
  ),
);
@use "element-plus/theme-chalk/src/index.scss" as *;
@use "./element-plus.dark.scss" as *;

.el-table thead th {
  font-weight: 400;
}

.el-switch__core {
  height: 24px;
  border-radius: 12px;
}
